<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<connectionStrings>
		<add connectionString="data source=MTNB708\MTNB708;UID=sa;PWD=Pass@word12345;initial catalog=SiteFinityDemoDB" name="Sitefinity" />
	</connectionStrings>
</dataConfig>