<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" authCookieName=".SFAUTH-SiteFinityDemo" rolesCookieName=".SFROLES-SiteFinityDemo" validationKey="3B18B9B27B97A51FDFE6E4FBEF65B96E07E603D2A403E89320DD6E55957DDB8587F1B87B9F7ECC58D88FB3211B3AE9D906DF349EED66083D39B3E94A8BABA105" decryptionKey="F78AE51EDB2806C90C22F5D0A530494AE1EF693C7820273BD2DCB4EC2E5E3A6B" loggingCookieName=".SFLOG-SiteFinityDemo">
	<securityTokenIssuers>
		<add key="8630C0D3FE3F3C39E46C51A5AC1885A729BDC1F6CF536C955FE5583E184672C8" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="8630C0D3FE3F3C39E46C51A5AC1885A729BDC1F6CF536C955FE5583E184672C8" realm="http://localhost" />
	</relyingParties>
</securityConfig>